.ht-box-images.style-01 .image-box-wrap {
    height: 420px;
}



.ht-box-images .content .text, .feature-list__one .icon-box-wrap .text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.feature-list__one .icon-box-wrap {
    height: 360px;
}