<div class="testimonial-slider-area bg-gray section-space--ptb_100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title-wrap text-center section-space--mb_40">
                    <h6 class="section-sub-title mb-20">Testimonials</h6>
                    <h3 class="heading">What do people praise about <span class="text-color-primary"> 9Soft Solution ?</span></h3>
                </div>
                <div class="testimonial-slider">
                    <div class="swiper-container testimonial-slider__container">
                        <div class="swiper-wrapper testimonial-slider__wrapper">
                            <div class="swiper-slide">
                                <div class="testimonial-slider__one wow move-up">

                                    <div class="testimonial-slider--info">
                                        <div class="testimonial-slider__media">
                                            <img src="~/assets/images/testimonial/90x90.jpg" class="img-fluid" alt="">
                                        </div>

                                        <div class="testimonial-slider__author">
                                            <div class="testimonial-rating">
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                            </div>
                                            <div class="author-info">
                                                <h6 class="name">Jamal Khan</h6>
                                                
                                            </div>
                                        </div>
                                    </div>

                                    <div class="testimonial-slider__text">
                                       Their integrity, quality of work, and adaptation to change of requirements impressed us the most.
                                    </div>

                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="testimonial-slider__one wow move-up">

                                    <div class="testimonial-slider--info">
                                        <div class="testimonial-slider__media">
                                            <img src="~/assets/images/testimonial/90x903.jpg" class="img-fluid" alt="">
                                        </div>

                                        <div class="testimonial-slider__author">
                                            <div class="testimonial-rating">
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                            </div>
                                            <div class="author-info">
                                                <h6 class="name">Minahil</h6>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="testimonial-slider__text">
                                        We got the feeling that our goals are shared and that we're all working towards a common objective
                                    </div>

                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="testimonial-slider__one wow move-up">

                                    <div class="testimonial-slider--info">
                                        <div class="testimonial-slider__media">
                                            <img src="~/assets/images/testimonial/90x901.jpg" class="img-fluid" alt="">
                                        </div>

                                        <div class="testimonial-slider__author">
                                            <div class="testimonial-rating">
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                            </div>
                                            <div class="author-info">
                                                <h6 class="name">Kamal khan</h6>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="testimonial-slider__text">
                                    I’ve been working with over 20 software companies on more than 100 projects of our company, but 9Soft Solution  is one of the most impressive to me.</div>

                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="testimonial-slider__one wow move-up">

                                    <div class="testimonial-slider--info">
                                        <div class="testimonial-slider__media">
                                            <img src="~/assets/images/testimonial/90x902.jpg" class="img-fluid" alt="">
                                        </div>

                                        <div class="testimonial-slider__author">
                                            <div class="testimonial-rating">
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                            </div>
                                            <div class="author-info">
                                                <h6 class="name">Ali Hussain</h6>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="testimonial-slider__text">We are impressed by how quickly The Software House understood our business.</div>

                                </div>
                            </div>
                        </div>
                        <div class="swiper-pagination swiper-pagination-t01 section-space--mt_30"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
